/* styles.css */
@font-face {
    font-family: 'Emberly-Bold';
    src: url('/docs/fonts/Emberly-Bold.ttf') format('truetype');
}

body {
    font-family: 'Emberly-Bold', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1c40f; /* Apply the yellow background color to the body */
}

header {
    text-align: center;
}

.title {
    font-family: 'Emberly-Bold', sans-serif;
    font-size: 100px;
    color: #FFBD00(255, 255, 255);
}
