/* styles.css */
@font-face {
    font-family: 'EmberlyBold';
    src: url(docs/fonts/Emberly-Bold.ttf) format('truetype');
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hwb(60 0% 0%); /* Apply the yellow background color to the body */
}

header {
    text-align: center;
}

.title {
    font-family: 'EmberlyBold', sans-serif;
    font-size: 4em;
    color: black;
}
